In [14]:
!pip install Faker
!pip install names-dataset

Keyring is skipped due to an exception: 'keyring.backends'
Requirement already satisfied: Faker in /home/maedeh/anaconda3/lib/python3.7/site-packages (15.1.1)
Requirement already satisfied: python-dateutil>=2.4 in /home/maedeh/anaconda3/lib/python3.7/site-packages (from Faker) (2.8.2)
Requirement already satisfied: typing-extensions>=3.10.0.1; python_version < "3.8" in /home/maedeh/anaconda3/lib/python3.7/site-packages (from Faker) (4.2.0)
Requirement already satisfied: six>=1.5 in /home/maedeh/anaconda3/lib/python3.7/site-packages (from python-dateutil>=2.4->Faker) (1.16.0)
Keyring is skipped due to an exception: 'keyring.backends'
Requirement already satisfied: names-dataset in /home/maedeh/anaconda3/lib/python3.7/site-packages (3.1.0)
Requirement already satisfied: pycountry in /home/maedeh/anaconda3/lib/python3.7/site-packages (from names-dataset) (22.3.5)
Requirement already satisfied: setuptools in /home/maedeh/anaconda3/lib/python3.7/site-packages (from pycountry->names-dataset) (45.2.0.post20200210)

In [15]:
from faker import Faker

In [16]:
en_fake = Faker()
fa_fake = Faker('Fa')

In [17]:
from names_dataset import NameDataset

In [18]:
nd = NameDataset()

In [19]:
import numpy as np

In [126]:
def make_name():
    if np.random.rand()> 0.5:
        return en_fake.name()
    
    return fa_fake.name()

In [127]:
import pandas as pd

# Load Data

In [128]:
df = pd.DataFrame({
    'Name': [make_name() for _ in range(10)]
})

In [129]:
df

                    Name
0             Chad Cohen
1           Sara Johnson
2         Rachael Barker
3          Anna Gonzalez
4         Madison Dunlap
5           James Murray
6  سرکار خانم محیا عزیزی
7            عرفان جهانی
8         Amanda Ramirez
9        ابوالفضل لاچینی

# Extract First and Last name

In [130]:
full_name = fa_fake.name()
full_name

'عرفان حمیدی'

In [131]:
first_name,*_, last_name = full_name.split()

In [132]:
first_name

'عرفان'

In [133]:
country = en_fake.country()
country

'Cook Islands'

In [134]:
df['First Name'] = df['Name'].apply(
    lambda full_name: full_name.split()[0]
)

In [135]:
df['Last Name'] = df['Name'].apply(
    lambda full_name: full_name.split()[-1]
)

# Predict Gender

In [136]:
def name_to_gender(first_name):
    info = nd.search(first_name)['first_name']
    if info is None:
        return
    
    return max(info['gender'], key=info['gender'].get)

In [137]:
name_to_gender('Maedeh')

'Female'

In [138]:
df['Gender'] = df['First Name'].apply(name_to_gender)

In [139]:
nd.search(first_name)

{'first_name': {'country': {'United Arab Emirates': 0.03,
   'Afghanistan': 0.058,
   'Egypt': 0.161,
   'Iraq': 0.183,
   'Iran, Islamic Republic of': 0.141,
   'Saudi Arabia': 0.24,
   'Sudan': 0.02,
   'Syrian Arab Republic': 0.082,
   'Turkey': 0.022,
   'Yemen': 0.062},
  'gender': {'Female': 0.043, 'Male': 0.957},
  'rank': {'United Arab Emirates': 6359,
   'Afghanistan': 351,
   'Egypt': 5787,
   'Iraq': 2941,
   'Iran, Islamic Republic of': 763,
   'Saudi Arabia': 4185,
   'Sudan': 10177,
   'Syrian Arab Republic': 2874,
   'Turkey': 8591,
   'Yemen': 1946}},
 'last_name': {'country': {'United Arab Emirates': 0.013,
   'Afghanistan': 0.058,
   'Egypt': 0.503,
   'Iraq': 0.067,
   'Iran, Islamic Republic of': 0.027,
   'Libya': 0.013,
   'Oman': 0.015,
   'Saudi Arabia': 0.221,
   'Syrian Arab Republic': 0.028,
   'Yemen': 0.056},
  'gender': {},
  'rank': {'Afghanistan': 551,
   'Egypt': 4712,
   'Iraq': 9623,
   'Iran, Islamic Republic of': 6819,
   'Libya': 15031,
   'Oman': 10452,
   'Saudi Arabia': 6428,
   'Syrian Arab Republic': 11496,
   'Yemen': 4524,
   'United Arab Emirates': None}}}

In [140]:
def name_to_g_prob(first_name):
    prob = nd.search(first_name)['first_name']
    if prob is None:
        return
    return max(list(prob['gender'].values()))

In [141]:
name_to_g_prob('David')

0.991

In [142]:
df['Gender probability'] = df['First Name'].apply(name_to_g_prob)

In [143]:
def name_to_country(first_name):
    info = nd.search(first_name)['first_name']
    if info is None:
        return
    
    return max(info['country'], key=info['country'].get)

In [144]:
df['Country'] = df['First Name'].apply(name_to_country)

In [145]:
def name_to_c_prob(first_name):
    prob = nd.search(first_name)['first_name']
    if prob is None:
        return
    
    return max(list(prob['country'].values()))

In [146]:
df['Country probability'] = df['First Name'].apply(name_to_c_prob)

In [147]:
df

,Name,First Name,Last Name,Gender,Gender probability,Country,Country probability
0,Chad Cohen,Chad,Cohen,Male,0.988,United States,0.745
1,Sara Johnson,Sara,Johnson,Female,0.973,Italy,0.304
2,Rachael Barker,Rachael,Barker,Female,0.995,United Kingdom,0.471
3,Anna Gonzalez,Anna,Gonzalez,Female,0.990,Italy,0.584
4,Madison Dunlap,Madison,Dunlap,Female,0.952,United States,0.721
5,James Murray,James,Murray,Male,0.982,United States,0.381
6,سرکار خانم محیا عزیزی,سرکار,عزیزی,None,NaN,None,NaN
7,عرفان جهانی,عرفان,جهانی,Male,0.957,Saudi Arabia,0.240
8,Amanda Ramirez,Amanda,Ramirez,Female,0.987,United States,0.371
9,ابوالفضل لاچینی,ابوالفضل,لاچینی,Male,0.953,"Iran, Islamic Republic of",0.497